

.content{
    width: 70%;
    margin-right: 30px;
}

.space{
    margin-bottom: 2vh;
}

ul{
    margin-left: 20px;
}

.additional ul li{
    margin: 10px 0;
}

.graduation{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 1000px){

    .content{
        width: 100%;
    }

    .graduation{
        width: 100%;
    }
}

@media (max-width: 400px){
    .graduation img{
        width: 100%;
    }
}